header nav ul{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 0 10vw 0.5rem 50vw;
}

header nav li{
    list-style: none;
}

header nav a{
    text-decoration: none;
    color: #155c72;
    text-transform: uppercase;
}

header nav a:hover{
    color: #D9562E;
    font-style: italic;
}

header nav li:nth-of-type(2) a{
    color: #D9562E;
}